{% extends "base.html" %}

{% block content %}
    <h1>New Venue</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.venueName.label }}<br>
            {{ form.venueName(size=32) }}<br>
            {% for error in form.venueName.errors  %}
            <span style="color: red;"></span>
            {% endfor %}
        </p>
        <p>
            {{ form.address.label }}<br>
            {{ form.address(size=32) }}

        <p>{{ form.submitVenue() }}</p>
    </form>
{% endblock %}